<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
      <context:component-scan base-package="com.lanou"/>

      <!--配置hibernate-->

      <!--1.配置数据库连接池-->
      <bean id="dataSourceFactory" class="org.apache.commons.dbcp.BasicDataSource">
          <!--数据库驱动文件-->
          <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
          <!--数据库地址-->
          <property name="url" value="jdbc:mysql://localhost:3306/victory"/>
          <!--用户名-->
          <property name="username" value="root"/>
          <!--密码-->
          <property name="password" value="123456"/>
      </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!--引入dbcp数据库连接池-->
        <property name="dataSource" ref="dataSourceFactory"/>
        <!--配置hibernate属性,原Hibernate配置文件中的可选项-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>

        <!--3.加载实体类Hibernate的映射文件
            自动匹配resource目录下所有.hbm.xml后缀文件-->
        <property name="mappingLocations" value="classpath:resources/human_resource/*.hbm.xml"/>

    </bean>

    <!-- 3.配置事物对象(切面) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!-- 配置dao层 -->
    <bean id="departmentDao" class="com.lanou.human_resource.dao.impl.DepartmentDaoImpl">
        <!-- 给dao层实现类中的sessionFactory进行赋值 -->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="departmentService" class="com.lanou.human_resource.service.impl.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean id="postDao" class="com.lanou.human_resource.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="postService" class="com.lanou.human_resource.service.impl.PostServiceImpl">
        <property name="postDao" ref="postDao"/>
    </bean>

    <bean id="staffDao" class="com.lanou.human_resource.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="staffService" class="com.lanou.human_resource.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>
    </beans>

